body {
    font-family: "Roboto";
}
#srch {
    text-align: center;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align:center;
}

.entry {
    text-align: left;
    margin: 15px 0px;
    height: 36px;
    line-height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: #c2c2c2;
}
.entry p {
    margin: 0px 0px 0px 4px;
}
.entb {
    float: right;
    border-radius: 0px;
    margin: -1px -1px 0px 0px;
    height: 36px;
}

#latest {
    text-align: center;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-bottom: 5px;
}